body{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
}
ul{
    padding-left: 0;
}
.container{
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.icon_list{
    display: flex;
}
.icon_list > li{
    margin:0 10px;
}
.logo{
    margin-left: 50px;
}
.logo a{
    color:red;   
    font-size: 1rem;
}
.top_menu{
    display: flex;
}
.top_menu li{
    padding:0 15px
}
main{
    display: flex;
    flex-direction: column;
}
.video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
.content{
    height: 100vh;
    width: 100%;
}
.content_wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#content_text{
    color:red;
    font-size: 10rem;
    font-weight: bold;
}
.side_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    right:0;
    top:86px;
    background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 1200px) {
    .side_menu {
      display: none;
    }
    
  }
@media screen and (max-width: 870px) {
    #youtube {
      width:500px;
      height:300px;
    }
    #content_text{
        font-size: 7rem;
    }
    .content{
        margin-top: 100px;
    }
  }
@media screen and (max-width: 580px) {
    #youtube {
      width:450px;
      height:300px;
    }
    #content_text{
        font-size: 6rem;
    }
  }
.side_menu li {
    padding:40px 15px;
    border-right: 4px solid gray;
    text-align: center;
    margin:2px 0;
}
#intro{
    border-color:yellow;
}
.side_menu a{
    border-bottom: 1px solid gray;
    padding: 0 50px;
    padding-bottom: 40px;
}
.side_menu li:last-child > a{
    border:none;
}
.side_menu li:last-child{
    border-bottom:none;
}
